/* .animated-like-icon {
    height: 100%;
    width: 100%;
    background: rgb(255, 255, 255);
  }
  
  @keyframes breath {
    /* 0%,
    100% {
      transform: scale(0.8);
    }
    50% {
      transform: scale(0.91);
    } */
  }
   */